<!doctype html>
<html>
  <head>
    <title>Computer Inventory Application</title>
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>
    <div class="welcome-page">
      <h1>Welcome to <em>CIA</em> <div>(Computer Inventory Application)</div></h1>

      <h2>Greetings,</h2>
      <p>
        To ensure the best experience with this application, please consult the documentation at the <a href="https://github.com/BradCodeCraft/odin-inventory-application/blob/main/README.md" target="_blank" rel="noreferrer">Github repository</a> (Opens in new tab).
      </p>

      <h2>Copyright</h2>
      <p>Copyright &copy; 2025 by BradCodeCraft. All rights reserved.</p>

      <a class="proceed-link" href="/categories">
        <button type="button" tabindex="-1">
          Proceed
        </button>
      </a>
    </div>
  </body>
</html>
